* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 30px;
}

section {
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(151, 151, 151);
  font-size: 20px;
}

section:not(:last-child) {
  margin-bottom: 40px;
}

button {
  padding: 3px;
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}

button:not(:last-child) {
  margin-right: 40px;
}

button:hover,
button:focus {
  background-color: rgb(0, 109, 199);
  color: white;
  cursor: pointer;
}

h2 {
  margin-bottom: 20px;
}
